# Jupyter Markdown
## Jupyter Markdown
### Jupyter Markdown
#### Jupyter Markdown
##### Jupyter Markdown
###### Jupyter Markdown

- Point 1
  - **Sub Point 1.1**
  - *Sub Point 1.2*
  - ***Sub Point 1.3***
- Point 2
- Point 3

### python introduction
- python 3
- python can be used as funtional programming
- python can be used as scripting programming
- python initially designed by **guido van rossum** in 1991

In [ ]:
# input and output function
# output function
print("hello world")
print("welcome to python programming")

In [7]:
print("markdown cell",end =' ')
print("cod cell")

markdown cell cod cell

In [8]:
# input function
print("enter your name :")
a = input(' ')
print('your name is ',a)

enter your name :
 alekhya
your name is  alekhya

### inserting an image using markdown
![image](http://www.youandthemat.com/wp-content/uploads/nature-2-26-17.jpg)

## inserting a site using markdown
[site](https://www.google.com/search?q=nature&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjCksmb6bHmAhWSzjgGHX6cCAIQ_AUoAXoECBEQAw&biw=1366&bih=657#imgrc=PXPQIb6MdTwn4M:)

# fundamental data type

# 1. int
# 2. float
# 3. complex
# 4. boolean
# 5. string

In [9]:
#basic example

x = 10
print(type(x))
print(x)

<class 'int'>
10

In [10]:
a = complex(5,4)
print(a)

(5+4j)

In [11]:
x = 3+5j
y = 10.25
z = 10
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'float'>
<class 'int'>

In [14]:
x = 3+5j
y = 10.25
z = 10
print(type(x),type(y),type(z))

<class 'complex'> <class 'float'> <class 'int'>

In [15]:
c1 = 5+6j #complex
c2 = 4+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+11j)
(1+1j)
(-10+49j)

In [17]:
a = 10 #boolean
b = 5
a > b

True

In [18]:
#string
s1 = "abc"
s2 = "xyz"
print(type (s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [19]:
s1 = "100"
print(type(s1))

<class 'str'>

# datatype conversions

In [20]:
i = 100
print(type(i))
s1 = str(i) #str() converts the input into string type
print(type(s1))
f1 = float(i) #float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [21]:
s1 = "200"
print(type(s1))
a = int(s1)
print(type(a))
f = 2.5
a = int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [22]:
# a number is given 23456
# digit count
s = 23456
print(len(str(s)))

5

# operators
## 1. arithmetic operators -----> +,-, * ,/,//,%,**
## 2. logical operators -----> and,or,not
## 3. relational operators-----> <,>,<=,>=,==,!=
## 4. membership operators -----> in,not in

In [24]:
#arithmetic operators
a = 20
b = 10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

30
10
200
2.0
2
0
10240000000000

In [25]:
#relational operator
x = 30
y = 10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [27]:
#logical operators
x = 20
y = 30
print(x>=10 and x<=20)
print(x>=5 or x<=20)
print(not x)

True
True
False

In [31]:
#membership operators
str1 = "abc"
print('a' in str1)
print('a' not in str1)
print('d' not in str1)

True
False
True

# conditional statements:
* 1 . if
* 2 . elif
* 3 . else
## syntax
* ### if condition:
##### statements
* ### elif condition:
##### ststements
* ### else:
##### ststements

In [32]:
#to check given number is even or odd
n = int(input("enter the number :"))
if n%2 ==0:
 print("even")
else:
    print("odd")

enter the number :4
even

In [34]:
#to check given number is perfectly multiple 3 and 5 
n = int(input("enter the number :"))
if n%3 ==0 and n%5 ==0:
    print("yes")
else:
        print("no")

enter the number :15
yes

In [38]:
#check the given number is positive , negative or zero
n = int(input("enter the number :"))
if n>0:
    print("positive")
elif (n==0):
    print("zero")
else:
    print("negetive")

enter the number :-8
negetive

In [40]:
#to check the given year is leap year or not
n= int(input("enter the number :"))
if n%4==0:
    print("leap year")
else:
    print("not a leap year")

enter the number :2020
leap year

In [42]:
#to check the person is eligible for vote or not
n = int(input("enter the number :"))
if n>=18:
    print("eligible")
else:
    print("not eligible")

enter the number :18
eligible